table, .table {
  border-collapse: collapse;
  margin: 0.5em auto;
  background-color: white;
  tr {
    th, td {
      border: 1px solid #aaa;
      padding: 0.25rem 1rem;
    }
    th {
      text-align: center;
      background: $grey-very-light;
    }
    td {
      &.table-action {
        a {
          display: inline-block;
          background: $brand-primary;
          color: white;
          margin: 0.1rem 0.1rem;
          padding: 0.1rem 1rem;
          border-radius: 1rem;
          &:hover {
            text-decoration: none;
            background: lighten($brand-primary, 15%)
          }
        }
      }
      &:first-child {
        text-align: left;
      }
    }
  }
}
