{% extends 'base.html' %}

{% block nav %}
  <a href="/contacts">Contacts</a>
  <a href="/contacts/create">Create</a>
  <a href="/contacts/edit/{{ contact.id }}">Edit</a>
{% endblock nav %}

{% block main %}
  <h1>View Contact-{{ contact.id }}</h1>
  <table>
    <tr><td>Title</td><td>{{ contact.title }}</td></tr>
    <tr><td>Status</td><td>{{ contact.status.title }}</td></tr>
  </table>
  <div class="content-body">
    <a class='btn' href='/contacts/edit/{{ contact.id }}'>Edit</a>
  </div>
{% endblock main %}
