#page-participants-create {
    background-image: url("https://plasticfreeqac-space.nyc3.cdn.digitaloceanspaces.com/img/home_our_mission.webp");
    background-size: cover;
    background-color: $color-background;
    section {
        background: white;
        padding: 1em;
        margin: 2em auto 2em;
        border-radius: 0.5em;
    }
    #section-content {
        max-width: 50em;
        margin: 1em auto;
        ul {
          margin: 0.5em 0;
        }
    }
    #section-form {
        max-width: 40em;
        background-color: #ddd;
        form {
            table {
                th, td {
                    background-color: transparent;
                    border: none;
                }
                table th {
                    text-align: right;
                }
                input {
                    width: 100%;
                    &.btn {
                        width: 10em;
                    }
                }
            }
            div {
                text-align: center;
            }
        }
    }
}

#page-participants-view {
    background-image: url("https://plasticfreeqac-space.nyc3.cdn.digitaloceanspaces.com/img/home_our_mission.webp");
    background-size: cover;
    background-color: $color-background;
    section {
        background: white;
        padding: 1em;
        margin: 2em auto 2em;
        border-radius: 0.5em;
        max-width: 40em;
    }
    #section-content {
        max-width: 50em;
        margin: 1em auto;
        ul {
          margin: 0.5em 0;
        }
    }
}
