#main {
  padding: 0.5em 0;
  background: #ccc;
  .content-title, h1 {
    margin: 0;
    padding: 0.25em 1em;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;

  }
  .content-subtitle, h2 {
    margin: 0.5em 0;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  .content-body {
    padding: 0 1em 0.75em;
    text-align: center;
  }
}
